body{
  background-color: darkcyan;
}
main{
  padding-right: 4.5rem;
  padding-left: 4.5rem;
}
@media (max-width: 576px){
  main{
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
}
.conocenos{
  margin-top: 3rem;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.conocenos h3{
  color: var(--weak-turquoise);
}
.text-conocenos{
  flex-basis: 40%;
  display: flex;
  align-items: center;
}
.text-conocenos-container{
  display: block;
}
.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  padding-right: .7vw;
  padding-left: .7vw;
  margin-top: 3rem;
  height: 4rem;
  text-decoration: none;
  border-radius: .4vw;
  font-size: 2.3rem;
}
.conocenos-btn{
  background-color: var(--turqouise-1);
  color: var(--white);
  transition: box-shadow .3s;
}
.conocenos-btn:hover{
  box-shadow: 0 0 7px var(--weak-turquoise); 
}
.img-conocenos{
  flex-basis: 50%;
}
.img-conocenos-container{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card {
  margin: 10px;
  background-color: var(--white);
  border-radius: .5vw;
  box-shadow: 0 2px 20px var(--turqouise-1);
  overflow: hidden;
  width: 40%;
}
.card:hover{

  -webkit-animation: spin-right 10s linear infinite;
  animation: spin-right 10s linear infinite;

}
.card-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-body {
  background-color: darkgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2vw;
}
.tag {
  background: #cccccc;
  border-radius: 2.8vw;
  font-size: 1.2rem;
  margin: 0;
  color: var(--white);
  padding: .2vw 1vw;
  text-transform: uppercase;
}
.tag-teal {
  background-color: #47bcd4;
}
.card-body h4 {
  color: black;
  font-size: 1.7vw;
}
.card-body p {
  margin: 0 0 .5vw;
  color: black;
  font-size: 1vw;
}
@media (max-width: 768px){
  .text-conocenos{
    flex-basis: 25%;
  }
  .img-conocenos{
    flex-basis: 73%;
  }
  .conocenos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .btn{
    font-size: 3.3vw;
    padding-right: 1.8vw;
    padding-left: 1.8vw;
    height: 4.5rem;
    border-radius: 1vw;
  }
  .tag{
    font-size: 1.5vw;
  }
  .card{
    border-radius: 1.5vw;
  }
  .card-body{
    padding: 3vw;
  }
  .card-body h4 {
    font-size: 3.5vw;
  }
  .card-body p {
    margin-top: 1rem;
    font-size: 2.2vw;
  }
}

@media (max-width: 576px){
  .text-conocenos{
    flex-basis: 15%;
  }
  .img-conocenos{
    flex-basis: 75%;
  }
  .conocenos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .btn{
    font-size: 3.3vw;
    padding-right: 1.8vw;
    padding-left: 1.8vw;
    height: 2rem;
    border-radius: 1vw;
  }
  .tag{
    font-size: 1.5vw;
  }
  .card{
    border-radius: 1.5vw;
    width: 43%;
  }
  .card-body{
    padding: 3vw;
  }
  .card-body h4 {
    font-size: 3.5vw;
  }
  .card-body p {
    margin-top: 1rem;
    font-size: 2.5vw;
  }
}