/*------- GLOBAlES -------*/
/*-- reseteo de los margins y padings --*/
*{ 
  margin: 0;
  padding: 0;
}

/*-- diseño del scrollbar --*/
body::-webkit-scrollbar {
  width: 9px;               /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: var(--dark-blue);        /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color: var(--weak-turquoise);    /* color of the scroll thumb */
  border-radius: 5px;       /* roundness of the scroll thumb */
  border: 3px solid var(--turqouise-1);  /* creates padding around scroll thumb */
}
/*-- fuente de letra --*/
*{ font-family: 'Open Sans', sans-serif;}
/*-- declaración de colores como variables --*/
:root{
  --turqouise-1:#2B7A78;
  --dark-blue:#17252A;
  --turquoise-2:#3AAFA9;
  --weak-turquoise:#DEF2F1;
  --white:#FEFFFF;
}
/*-- reseteo de rems --*/
html { font-size: 62.5%}
/*-- tamaño de letra para laptops--*/
  h1   { font-size: 4vw; }
  h2   { font-size: 3vw; }
  h3   { font-size: 2.5vw; }
  h4   { font-size: 2.2vw; }
  h5   { font-size: 1.8vw; }
  p,a,span,i { font-size: 1.4vw; } 
/*-- tamaño de letra para celulares --*/
@media (max-width: 576px){
  h1   { font-size: 10vw; }
  h2   { font-size: 7.8vw; }
  h3   { font-size: 4.5vw; } 
  h4   { font-size: 2.5vw; }
  h5   { font-size: 2.3vw; }
  p,a,span,i { font-size: 2vw; }
}
/*-- tamaño de letra para dispositivos medianos --*/
@media (max-width: 768px){ 
  h1   { font-size: 10vw; }
  h2   { font-size: 7.8vw; }
  h3   { font-size: 4.5vw; } 
  h4   { font-size: 2.5vw; }
  h5   { font-size: 2.3vw; }
  p,a,span,i { font-size: 2vw; }
}
/*-- colores de las fuentes --*/
h1,h2,h3,h4,h5{ color: var(--dark-blue); }
p,i,span{ color: var(--white);}
a{ color: var(--turqouise-1);}
/*-- imágenes responsivas --*/
img{
  min-width: 100%;
  max-width: 100%;
}
/*-- color de background --*/
body{ background-color: var(--dark-blue); }


/*------- HEADER -------*/
/*-- navbar --*/
.navbar-container{
  width: 100%;
  height: 4rem;
}
.navbar-content{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.5rem;
}
.navbar-content li{
  list-style-type: none;
}
.navbar-content a,li{
  text-decoration: none;
  color: var(--white);
  padding: .7rem;
  margin-right: 1rem;
}
@media (max-width: 576px){
  .navbar-content a,li{
    font-size: 2vw;
    margin-right: .1rem;
  }
}
.navbar-content a:hover{
  color: var(--turqouise-1);
}
.no-seleccionable{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
  font-size: 1.4vw;
}
/*-- central --*/
.alsa{                                                                    /*-- ***ARREGLAR ALTURA PARA DISPOSITIVOS DE ANCHO MEDIO*** --*/
  height: calc(100vh - 4rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.alsa h1,h2{
  font-family: 'Roboto Mono', monospace;
  color: var(--turquoise-2);
}


/*-------   MAIN -------*/
main{
  padding-right: 4.5rem;
  padding-left: 4.5rem;
}
@media (max-width: 576px){
  main{
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
}
/*-- conocenos --*/
.conocenos{
  margin-top: 3rem;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.conocenos h3{
  color: var(--weak-turquoise);
}
.text-conocenos{
  flex-basis: 40%;
  display: flex;
  align-items: center;
}
.text-conocenos-container{
  display: block;
}
.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  padding-right: .7vw;
  padding-left: .7vw;
  margin-top: 3rem;
  height: 4rem;
  text-decoration: none;
  border-radius: .4vw;
  font-size: 2.3rem;
}
.conocenos-btn{
  background-color: var(--turqouise-1);
  color: var(--white);
  transition: box-shadow .3s;

}
.conocenos-btn:hover{
  box-shadow: 0 0 7px var(--weak-turquoise); 
}
.img-conocenos{
  flex-basis: 50%;
}
.img-conocenos-container{
  display: flex;
  justify-content: space-evenly;
  justify-content: center;  
  align-items: center;
}
.card {
  margin: .8vw;
  background-color: #fff;
  border-radius: .5vw;
  box-shadow: 0 2px 20px var(--turqouise-1);
  overflow: hidden;
}
.card-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2vw;
}
.tag {
  background: #cccccc;
  border-radius: 2.8vw;
  font-size: 1.2rem;
  margin: 0;
  color: #fff;
  padding: .2vw 1vw;
  text-transform: uppercase;
}
.tag-teal {
  background-color: #47bcd4;
}
.card-body h4 {
  color: black;
  font-size: 1.7vw;
}
.card-body p {
  margin: 0 0 .5vw;
  color: black;
  font-size: 1.2vw;
}
@media (max-width: 576px){
  .conocenos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .btn{
    font-size: 3.3vw;
    padding-right: 1.8vw;
    padding-left: 1.8vw;
    height: 3rem;
    border-radius: 1vw;
  }
  .tag{
    font-size: 2vw;
  }
  .card{
    border-radius: 1.5vw;
  }
  .card-body{
    padding: 3vw;
  }
  .card-body h4 {
    font-size: 3.5vw;
  }
  .card-body p {
    margin-top: 1rem;
    font-size: 2.5vw;
  }

}


/*------- FOOTER -------*/
footer{
  margin-top: 2.5rem;
  display: flex;
  background-color: var(--dark-blue);
  width: 100%;
  height: 6rem;
}



.text {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  max-width: 90%;
  padding: 2em 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}